body {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-bottom: 30px;
}

.header-container,
.filter {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.window-visit {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 35px;
  box-sizing: border-box;
  border-width: 0px;
  gap: 10px;
  background: #eae7e7;
  border-radius: 10px;
  position: relative;
}


.form-cardiologist,
.form-dentist,
.form-therapist {
  display: none;
}

.closeModal,
.closeCard,
.closeAuthorizWindow {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;


}

.closeModal:hover,
.closeCard:hover,
.closeAuthorizWindow:hover {
  opacity: 1;
}

.closeModal::before,
.closeModal::after,
.closeCard::after,
.closeCard::before,
.closeAuthorizWindow::before,
.closeAuthorizWindow::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}

.closeModal::before,
.closeCard::before,
.closeAuthorizWindow::before {
  transform: rotate(45deg);
}

.closeModal::after,
.closeCard::after,
.closeAuthorizWindow::after {
  transform: rotate(-45deg);
}

.positionWindowvisit {
  display: none;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 30%;
}

.form-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px
}

.card {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 20px;
  justify-content: center;
  border: 1px solid;
  padding: 20px 60px;
  position: relative;
  background: #ffb722;
  border-radius: 12px;
  border-width: 0px;
}

.openModalWindow,
.authorization {
  border-radius: 10px;
  background-color: #ffb722;
  color: black;
  transition: 0.4s linear;
  border-width: 0;
}

.openModalWindow:hover,
.authorization:hover {
  background-color: rgb(50 154 114);
  color: white;
}

.linkBtn {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 15px;
  background: rgb(50 154 114);
  border-radius: 10px;
  color: white;
  border-width: 0px;
  transition: 0.4s linear;
}

.linkBtn:hover {
  color: black;
  background-color: #ffb722;
}

.purpose,
.description,
.namePacient,
.pressure,
.bodyIndex,
.diseases,
.cardioAge,
.lastVisit,
.therapistAge,
.filterByPurpose {
  display: block;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
}

.registerbtn {
  font-weight: 600;
  color: #382b22;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 8px 20px;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.registerbtn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

.registerbtn:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

.registerbtn:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

.registerbtn:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

.registerbtn:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

#doctors {
  height: 34px;
  border-radius: 10px;
}

.visit-cards {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  margin: 20px auto;
  max-width: 800px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: start;
}

.registration {
  display: none;
  padding: 50px 0;
  position: absolute;
  top: 15%;
  left: 35%;
}

.registration form {
  max-width: 800px;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.registration .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3f93ff;
  border: none;
  color: white;
  margin-top: 20px;
}

.authorizationform {
  position: absolute;
  left: 35%;
}

.btnAuthoriz {
  border-radius: 10px;
  border-width: 0px;
  background-color: #000;
  color: white;
  padding: 10px 30px;
}

.form-group {
  text-align: center;
}

.closed {
  display: none;
}

.linkesMenu {
  display: flex;
  gap: 52px;
}

.link {
  position: relative;
  font-size: 1.25rem;
  text-decoration: none;
  color: grey;
}

.link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: rgb(50 154 114);
}

.link:hover:before {
  width: 100%;
}

.link::before {
  transition: width 0.35s;
}

li {
  list-style-type: none;
}

.insert {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 50px;
}

.describe {
  width: 500px;
}

.slogan {
  font-size: 50px;
  margin: 0px;
}

.informText {
  margin-top: 0px;
  margin-bottom: 80px;
  color: grey;
  font-size: 13px;
}


.valueCheckBox {
  text-transform: uppercase;
  font-size: 18px;
}

.checkBoxes {
  display: flex;
  gap: 10px;
}

.valueCheckBoxGreen {
  color: rgb(50 154 114);
}

.valueCheckBoxYellow {
  color: #ffb722;
}

.valueCheckBoxRed {
  color: #b44612;
}

footer {
  flex-shrink: 0;
  background-color: #050442;
}

.footerText {
  padding: 20px;
  color: white;
  text-align: center;
  margin: 0px;
}

.show {
  border-width: 0px;
  background: green;
  border-radius: 10px;
  padding: 15px;
  color: white;
}